USE [CsharpTuto]
GO
/****** Object:  Table [dbo].[Tuto07]    Script Date: 3/27/2024 1:03:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tuto07](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image] [varchar](250) NULL,
	[Name] [varchar](50) NOT NULL,
	[JoinFrom] [date] NOT NULL,
	[StaffType] [varchar](10) NOT NULL,
	[NrcNo] [varchar](50) NOT NULL,
	[Gender] [varchar](10) NULL,
	[PhoneNo1] [varchar](9) NOT NULL,
	[PhoneNo2] [varchar](9) NULL,
	[Address] [varchar](300) NULL,
	[BirthDate] [date] NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Tuto07] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Tuto07] ON 

INSERT [dbo].[Tuto07] ([Id], [Image], [Name], [JoinFrom], [StaffType], [NrcNo], [Gender], [PhoneNo1], [PhoneNo2], [Address], [BirthDate], [Password]) VALUES (2, N'C:\Users\thetzinsoe\Pictures\Screenshots\pic3.jpg', N'thetzinsoe', CAST(N'2000-02-01' AS Date), N'Full Time', N'3/asdsfd(n)234234', N'Male', 23423423, 0, N'', CAST(N'2000-02-01' AS Date), N'EAAAANeTV7UAyrtM7ZOZ8ZcQm1kyZGcFh0SIwyP9lPpGBuie')
INSERT [dbo].[Tuto07] ([Id], [Image], [Name], [JoinFrom], [StaffType], [NrcNo], [Gender], [PhoneNo1], [PhoneNo2], [Address], [BirthDate], [Password]) VALUES (6, N'C:\Users\thetzinsoe\Pictures\Screenshots\pic2.png', N'Soe', CAST(N'1989-01-02' AS Date), N'Part Time', N'4/sadfs(d)234343', N'Female', 34234234, 0, N'', CAST(N'1989-01-02' AS Date), N'EAAAAHKlX5CCwhq3cp3PgELY4h+NNBU3w6yfnUXyp17Ox8C7')
INSERT [dbo].[Tuto07] ([Id], [Image], [Name], [JoinFrom], [StaffType], [NrcNo], [Gender], [PhoneNo1], [PhoneNo2], [Address], [BirthDate], [Password]) VALUES (7, N'C:\Users\thetzinsoe\Pictures\Screenshots\pic2.png', N'aungphyohein', CAST(N'1989-01-02' AS Date), N'Part Time', N'4/sadfs(d)234343', N'Female', 34234234, 0, N'', CAST(N'1989-01-02' AS Date), N'EAAAAJMBjZN04yxY/jdWZ3bgtJa08zTAI/e1/WCMqPWJHxUF')
SET IDENTITY_INSERT [dbo].[Tuto07] OFF
GO
